html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #fff;
    background-size: cover;
    text-align: center;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Oxygen', sans-serif;
	color: #444444;
}

.uk-navbar-nav > li > a { font-family: 'Oxygen', sans-serif; }

.uk-navbar .uk-container {
  /*box-sizing: border-box;*/
  max-width: 980px;
  position: relative;
  /*padding: 0 25px;*/
  padding-left: 15px;
  padding-right: 15px;
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-container {
/*    max-width: 1200px;*/
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
  }
}


.logo {
	height: 40px;
    box-sizing: border-box;
    display: block;
    float: left;
}

.uk-navbar {
  background-color: transparent;
  color: #fff;
  padding: 1em;
}

.uk-navbar-nav {
	margin: 0;
	list-style: none;
	float: right;
/*    position: ;*/
	background-color: transparent;
}

.uk-navbar-nav > li {
	position: relative;
	float: left;
	letter-spacing: 1px;
}

.uk-navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 11pt;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open  a {
	background-color: #fff;
	color: #c2c2c2;
	outline: none;
}

header {
	position: relative;
	width: 100%;
	height: 70%;
	background-image: url(../images/IMG_3464.jpg);
	background-position: center;
	background-size: cover;
}

header .header-content {
	text-align: center;
	width: 100%;
	text-shadow: 0px 0px 13px #ffffff;
}

header .header-content .header-content-title {
	margin-left: auto;
	margin-right: auto;
    margin-top: 1em;
	max-width: 1000px;
}

header .header-content .header-content-profile {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

header .header-content .header-content-title h1 {
	color: #fff;
	text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.7);
	font-family: 'Satisfy', cursive;
	font-size: 76px;
	margin-top: -2em;
}

header .header-content .header-content-profile h2 {
	color: #fff;
	opacity: 0.9;
	font-size: 34px;
}


header .header-content .header-content-profile p {
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: .5px;
}

hr {
	max-width: 20%;
	border: none;
/*	border-top: 2px solid #fff;*/
/*    text-align: center;*/
    align-self: auto;
    margin: 0 auto;
    margin-top: 3em;
	margin-bottom: 2em;
}

.short {
	max-width: 80px;
	margin-top: -2em;
	margin-bottom: 1.5em;
	border: 0;
	border-top: 2px solid #fff;
}

.hr-light {
    border-top: 2px solid #fff;
}

.hr-dark {
    border-top: 2px solid #955251;
    
}

section {
/*	padding: 100px 0;*/
    padding: 10%
}

.container {
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: 18px;
	line-height: 1.5em;
}

.container > p {
    color: #fff;
    text-shadow: 1px 1px 1px #883d3c;
}

#about, #project-presentation, #contact {
	background-color: #955251;
}

#portfolio {
    background-color: #f2f2f2;;
}

#project-wrapper {
    background-color: #f4f4f4;
}

/*
#project-wrapper > img {
    max-width: 640px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
*/

.container .heading {
	font-size: 40px;
	font-family: 'Satisfy', cursive;
	line-height: 0px;
    margin-bottom: 2em;
    position: relative;
	margin-top: -.5em;
	color: #fff;
/*    text-shadow: 1px, 1px, 1px, #883d3c;*/
}

.container .dark {
    color: #444444;
    text-shadow: none;
}

.project-description h1, p {
    color: #fff;
    text-shadow: 1px 1px 1px #883d3c;
    letter-spacing: 0.3px;
}

.project-description-name {
    padding-bottom: 16px;
    font-size: 56px;
    font-weight: 600;
}

.project-description-content {
    font-size: 18px;
    line-height: 30px;
}

.project-image {
    width: 70%;
    max-width: 600px;
    display: inline-block;
    padding: 20px;
}

.uk-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-grid:before,
.uk-grid:after {
  content: "";
  display: block;
  overflow: hidden;
}
.uk-grid:after {
  clear: both;
}

.uk-width-1-1 {
  width: 100%;
}

.uk-width-1-2 {
  width: 50%;
}

.uk-grid-small {
  margin-left: -10px;
}

.uk-grid-collapse {
  margin-left: 0;
}
.uk-grid-collapse > * {
  padding-left: 0;
}
 Vertical 
.uk-grid-collapse + .uk-grid-collapse,
.uk-grid-collapse > .uk-grid-margin,
.uk-grid-collapse > * > .uk-panel + .uk-panel {
  margin-top: 0;
}

.project-caption h2 {
    margin-top: 20%;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.project-caption p {
    color: #fff;
    font-size: 16px;
}

.uk-thumbnail {
  /* 1 */
  display: inline-block;
  /* 2 */
  max-width: 100%;
  /* 3 */
/*  box-sizing: border-box;*/
  /* 3 */
  margin: 0;
  /* 4 */
  padding-bottom: 15px;
  border: none;
  background: none;
}
/*
 * Hover state for `a` elements
 * 1. Apply hover style also to focus state
 * 2. Needed for caption
 * 3. Remove default focus style
 */
a.uk-thumbnail:hover,
a.uk-thumbnail:focus {
  border-color: #aaaaaa;
  background-color: #ffffff;
  /* 2 */
  text-decoration: none;
  /* 3 */
  outline: none;
}

.uk-overlay {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
  /* 5 */
  overflow: hidden;
  /* 6 */
  -webkit-transform: translateZ(0);
  /* 7 */
  margin: 0;
}

.uk-overlay-fade
[class*='uk-overlay-slide'] {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity transform filter;
}
.uk-overlay-active .uk-overlay-fade,
.uk-overlay-active .uk-overlay-scale,
.uk-overlay-active .uk-overlay-spin,
.uk-overlay-active [class*='uk-overlay-slide'] {
  transition-duration: 0.8s;
}
/*
 * Fade
 */
.uk-overlay-fade {
  opacity: 0.7;
}
.uk-overlay-hover:hover .uk-overlay-fade,
.uk-overlay-active .uk-active > .uk-overlay-fade {
  opacity: 1;
}

.uk-table {
  margin-top: 10px;
}
.uk-table th,
.uk-table td {
  width: 50%;
  padding: 8px 8px;
  font-size: 15px;
  line-height: 25px;
  color: #444444;
}

@media (min-width: 768px) {
	.header-content {
		position: absolute;
		top: 50%;
	}
}

ul {
    list-style-image: url('../images/bullet.png');
}

.portfolio-nav {
    margin-top: 60px;
    font-size: 16px;
}

.button {
    padding: 20px;
    background-color: #b65a5a;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    transition: all ease 0.6s;
}

.button:hover {
    background-color: #a13535;
    text-decoration: none;
    color: #fff;
}

.uk-button {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: #444444;
  background-color: #fff;
  /* 6 */
  text-transform: none;
  /* 7 */
  display: inline-block;
  /*box-sizing: border-box;*/
  padding: 0 12px;
/*  background: #eeeeee;*/
  vertical-align: middle;
  /* 8 */
  line-height: 30px;
  /* 9 */
  min-height: 30px;
  /* 10 */
  font-size: 1rem;
  /* 11 */
  text-decoration: none;
  text-align: center;
}

.uk-button:hover,
.uk-button:focus {
  background-color: #f5f5f5;
  color: #444444;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
}


/*.uk-button:active,*/
/*.uk-button.uk-active {*/
/*  background-color: #dddddd;*/
/*  color: #444444;*/
/*}*/
