body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #424242;
}

.background-overlay {
    background: url("../img/overlay.jpeg") no-repeat center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.toggle-menu {
    position: fixed;
    z-index: 1001;
    color: #333;
    left: 1.5rem;
    top: 1.5rem;
    transition: all 0.4s ease-in-out;
}
.toggle-menu:hover {
    transition: all 0.4s ease-in-out;
    color: #fff;
}

.overlay-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding-top: 5em;
  height: auto;
  overflow: scroll;
  opacity: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  text-align: center;
  transform: translateX(-100%) rotateX(0);
  transition: all 500ms cubic-bezier(1, -0.4, 0.44, 0.985);
}
  .overlay-menu li {
    padding-top: 1em;
    font-size: 1.5em;
}
  .overlay-menu a {
    display: block;
    color: #fff;
    font-weight: bold;
    height: 4em;
    line-height: 1em;
    border-bottom: 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
}
    .overlay-menu a:hover {
      color: #b3aac3;
      transition: 0.4s ease-in-out; }

  .overlay-menu.is-open ~ .toggle-menu {
    display: inline-block;
    transition: all 0.7s ease-in-out;
    color: white; }

/* nav icon 
 * start
*/

#nav-icon {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 900;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #444444;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 15px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #ffffff;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #ffffff;
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* nav icon
 * end
*/

/* Sticky nav for other pages*/

.sticky-nav {
  position: relative;
  background: rgba(256, 256, 256, .9);
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
}

.sticky-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  transition: .25s ease-in-out;    
}

.nav-down {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(256, 256, 256, .9);
/*  box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  transition: top 0.15s ease-in-out;
}

.nav-shadow {
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.nav-up {
    top: -80px;
}

#work-subitem {
    font-size: 0.8em;
    height: 3em;
    color: #fff;
    line-height: 1em;
}

.is-open {
  top: 0;
  opacity: 1;
  transform: perspective(200px) translateX(0) rotateX(0);
}

.logo {
    display: block;
    width: 60px;
    float: right;
    z-index: 999;
    position: relative;
    margin-top: 1.2em;
    margin-right: 1em;
}

@media screen and (max-width: 768px) {
    .toggle-menu {
        left: 12px!important;
        top: 12px!important;
    }
    .logo {
        width: 50px;
        margin-top: 12px!important;
        margin-right: 12px!important;
    }
    .nav-down {
        height: 60px;
    }   
/*
    .sticky-nav-scrolled {
        position: fixed;
    }
*/
}

h1.h-title {
    margin-top: 1.5em;
    text-align: center;
    font-size: 3em;
    font-weight: 700;   
}

h2.h-subtitle {
    text-align: center;
    letter-spacing: 1px;
}

/*typed js blinking cursor*/
.typed-cursor{
    color: #645b77;
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.profile-overlay {
    background: url("../img/profile.jpg") no-repeat center;
    background-size: cover;
    position: fixed;
    width: 40%;
    height: 100%;
    z-index: -1000;
}

.about {
    display: inline-block;
    margin-left: 40%;
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 7em;
    letter-spacing: 1px;
}

.about > #profile-thumbnail {
    display: none;
}

@media screen and (max-width: 768px) {
    .profile-overlay {
        display: none!important;
    }
    .about {
        text-align: center!important;
        margin: 0;
        padding: 5em 3em 5em 3em;
    }
}
@media only screen and (max-width: 768px) {
    .about > #profile-thumbnail {
        display: initial;
        max-width: 200px;
        border-radius: 150px;
        margin-bottom: 15px;
    }
}

.button-resume {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 1em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #424242;
  color: #fff;
}
  .button-resume:hover, .button-resume:focus {
    background-color: #b3aac3;
    color: #fff; }

.contact-overlay {
    background: url("../img/contact-overlay.jpg") no-repeat center;
    background-size: cover;
    position: fixed;
    width: 40%;
    height: 100%;
    z-index: -1000;
}

@media screen and (max-width: 768px) {
    .contact-overlay {
        display: none!important;
    }
}

a#contact {
    color: inherit;
}

u {
    text-decoration: none;
    border-bottom: 3px solid #b3aac3;
}

#project-cover {
    padding: 5em 1em;
}

.project-title {
    font-family: 'Bree Serif', serif;
    font-size: 60px;
    line-height: 65px;
}

.project-type {
    font-size: 22px;
    font-style: italic;
    line-height: 40px;
}

.project-summary {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

@media screen and (min-width: 769px) {
    .project-summary {
        width: 60%;
    }
}

#project-image {
    margin-bottom: 30px;
    width: 100%;
}

.project-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.project-subheading {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

@media screen and (max-width: 768px) {
    .project-title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    .project-type {
        font-size: 20px;
        font-style: italic;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .project-subheading {
        font-size: 24px;
        line-height: 28px;
    }
    .project-summary {
        font-size: 16px;
        line-height: 1.5em;
    }
}

.project-section {
    margin-bottom: 50px;
    font-size: 18px;
    letter-spacing: 1px;
}
    
.project-explanation > li {
    line-height: 1.5em;
}

.project-explanation > .project-section > p {
    line-height: 1.7em;
    margin-bottom: 24px;
}

.side-note {
    font-size: 16px;
    font-style: italic;
    color: #636363;
}
    
.project-visual {
    width: auto;
    padding: 20px;
}

@media screen and (min-width: 769px) {
    .project-visual {
        max-width: 720px;
        margin-left: 1em;
    }
}

#instafeed {
    text-align: center;
    padding: 0 4em 0 4em;
}

#instafeed a {
  padding:5px;
  margin:5px;
  border:1px solid #e2e2e2;
  background-color: #fff;
  display:inline-block;
  position:relative;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
@media screen and (max-width: 768px) {
    #instafeed {
        padding: 1em;
    }
    #instafeed a {
        padding: 1px;
        margin: 1px;
        width: 100px;
    }
}

#instafeed img {
 max-width: 100%;
 display: block;
 position: relative;
 z-index: 10;
}


#instafeed a:hover {
 -webkit-transform: scale(1.5);
 -moz-transform: scale(1.5);
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 z-index: 30;
}

.button-wrapper {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#load-more {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 1em;
  margin: 0 0 1rem 0;
  font-size: 16px;
  background-color: #424242;
  color: #fff;
}
  #load-more:hover, #load-more:focus {
    background-color: #b3aac3;
    color: #fff; }

#arrow-wrapper {
    visibility: hidden;
    position: relative;
    text-align: center;
    margin-top: -4em;
}

#page-up {
    width: 60px;
    height: 40px;
    opacity: .8;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    #page-up {
        width: 40px;
        height: 24px;
    }
}

/* Footer navigation style
*/

.icon-wrap {
    display: block;
    opacity: 0.6;
}
.icon-wrap:hover {
    transition: all 0.2s ease-in-out;
    opacity: initial;
}

#nav-arrow-prev, #nav-arrow-next {
    width: 35px;
    height: 35px;
    margin-top: 24px;
}

#nav-arrow-prev {
    float: left;
}

#nav-arrow-next {
    float: right;
}

.prev-proj, .next-proj {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b3aac3;
    margin-bottom: 1em;
}

.prev-proj {
    float: left;
    margin-top: 12px;
}

@media screen and (max-width: 768px) {
    .icon-wrap {
        opacity: initial;
    }
    #nav-arrow-prev {
        visibility: hidden!important;
    }
    .prev-proj {
        visibility: hidden!important;
    }
    .icon-wrap > .prev-proj-title {
        visibility: hidden!important;
    }
    #nav-arrow-next {
        visibility: hidden!important;
    }
    .next-proj {
        float: none;
        text-align: center!important;
    }
    .icon-wrap > .next-proj-title {
        float: none;
        margin-top: 2.5em!important;
    }
}

.next-proj {
    float: right;
    margin-top: 12px;
}

.icon-wrap > .prev-proj-title {
    float: left;
    color: #444444;
    font-size: 18px;
    margin-top: 2.3em;
    margin-left: -11.6em;
}

.icon-wrap > .next-proj-title {
    float: right;
    color: #444444;
    font-size: 18px;
    margin-top: 2.3em;
    margin-right: -8.6em;
}

.footer-nav {
    margin-top: 20px;
    padding-bottom: 1em;
}